body {
	color: #ddd;
	background-color: #000;
	text-align: left;




}

::-moz-selection {
	background: #9375fd;
	color: #fff;
    text-shadow: none
}

::selection {
	background: #9375fd;
	color: #fff;
    text-shadow: none
}

hr {
    border-color: #333;
}

blockquote {
	border-color: #ddd;
}

h1,h2,h3,h4,h5,h6 {
	color: #ddd;
}

a,a:hover {
	color: #9375fd;
	text-decoration: none;
}

.site-description a,
.site-description a:hover {
	color: #ddd;
	text-decoration: underline;

}

a:hover {
	opacity: 1;
}

.post-tags .tags a {
  border: 5px solid #ddd;
	color: #ddd;
	text-align: right;
}

.site-title a {
	color: #ddd;
	text-decoration: none !important;
	font-size: 30px;

	padding-right: 375px;




}

.header nav,
.footer {
	border-color: #333;


}

.highlight {
	background-color: #333;
}
