body {
	color: #ddd;
	background-color: #000;
}

::-moz-selection {
	background: #9375fd;
	color: #fff;
    text-shadow: none
}

::selection {
	background: #9375fd;
	color: #fff;
    text-shadow: none
}

hr {
    border-color: #333;
}

blockquote {
	border-color: #ddd;
}

h1,h2,h3,h4,h5,h6 {
	color: #ddd;
}

a,a:hover {
	color: #9375fd;
	text-decoration: none;
}

.site-description a,
.site-description a:hover {
	color: #ddd;
	text-decoration: underline;
}

a:hover {
	opacity: 0.8;
}

.post-tags .tags a {
    border: 5px solid #ddd;
	color: #ddd;
	text-align: right;
}

.site-title a {
	color: #ddd;
	text-decoration: none !important;
	font-size: 20px;
	margin: 0 auto;
	padding-left:: 100px;



}

.header nav,
.footer {
	border-color: #333;
	padding-left:: 100px;

}

.highlight {
	background-color: #333;
}
